In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Lending-company.csv', index_col = 'LoanID')
lending_co_data = data.copy()
lending_co_data.head()

,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
LoanID,,,,,,,,,,,,,,
1,LoanID_1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
3,LoanID_3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
5,LoanID_5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [3]:
lending_co_data['StartDate'].head()

LoanID
1    04/07/2018
2    02/01/2019
3    08/12/2016
4           NaN
5    28/10/2017
Name: StartDate, dtype: object

In [4]:
lending_co_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1043 entries, 1 to 1043
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   StringID        1043 non-null   object
 1   Product         1043 non-null   object
 2   CustomerGender  1043 non-null   object
 3   Location        1043 non-null   object
 4   Region          1042 non-null   object
 5   TotalPrice      1018 non-null   float64
 6   StartDate       1042 non-null   object
 7   Deposit         1043 non-null   int64
 8   DailyRate       1043 non-null   int64
 9   TotalDaysYr     1043 non-null   int64
 10  AmtPaid36       1043 non-null   int64
 11  AmtPaid60       1043 non-null   int64
 12  AmtPaid360      1043 non-null   int64
 13  LoanStatus      1006 non-null   object
dtypes: float64(1), int64(6), object(7)
memory usage: 122.2+ KB

In [5]:
lending_co_data['StartDate'].dtype

dtype('O')

In [6]:
from datetime import date

In [7]:
my_date = date(2021,2,20)
my_date

datetime.date(2021, 2, 20)

In [8]:
type(my_date)

datetime.date

In [9]:
print(my_date)

2021-02-20

In [10]:
my_date.year

2021

In [11]:
my_date.month

2

In [12]:
my_date.day

20

In [13]:
my_date.weekday()

5

In [14]:
date(2021,3,15) - date(2021,2,20)

datetime.timedelta(days=23)

In [15]:
delta = date(2021,3,15) - date(2021,2,20)
delta.days

23

In [16]:
type(delta)

datetime.timedelta

In [17]:
date(2021,4,22) + delta

datetime.date(2021, 5, 15)

In [18]:
print(date(2021,4,22) + delta)

2021-05-15

In [19]:
from datetime import time

In [21]:
local_time = time(hour=10, minute=30, second=15)
local_time

datetime.time(10, 30, 15)

In [22]:
local_time=time(10,30,15)
local_time

datetime.time(10, 30, 15)

In [23]:
type(local_time)

datetime.time

In [24]:
print(local_time)

10:30:15

In [25]:
local_time.hour

10

In [26]:
local_time.minute

30

In [27]:
local_time.second

15

In [28]:
local_time.microsecond

0

In [29]:
local_time=time()
print(local_time)

00:00:00

In [32]:
# local_time=time(25)
# print(local_time)
local_time=time(23)
print(local_time)

23:00:00

In [33]:
from datetime import datetime

In [34]:
my_datetime = datetime(year=2021,month=2,day=20, hour=22,minute=30,second=12,microsecond=500000)
my_datetime

datetime.datetime(2021, 2, 20, 22, 30, 12, 500000)

In [35]:
my_datetime = datetime(2021,2,20,22,30,12,500000)
my_datetime

datetime.datetime(2021, 2, 20, 22, 30, 12, 500000)

In [36]:
print(my_datetime)

2021-02-20 22:30:12.500000

In [37]:
my_datetime=my_datetime.replace(minute=15,second=0)
print(my_datetime)

2021-02-20 22:15:00.500000

In [38]:
from datetime import date, datetime

In [39]:
my_date = date(2021,2,20)
my_date

datetime.date(2021, 2, 20)

In [42]:
my_date.strftime('%Y')

'2021'

In [40]:
type(my_date.strftime('%Y'))

str

In [41]:
print(my_date.strftime('%Y'))

2021

In [43]:
my_date.strftime('%d')

'20'

In [44]:
my_date.strftime('Today is day %d of month %m.')

'Today is day 20 of month 02.'

In [45]:
my_datetime = datetime(2021,2,20,22,30,12,500000)
my_datetime

datetime.datetime(2021, 2, 20, 22, 30, 12, 500000)

In [46]:
my_datetime.strftime('It is %H hour(s), %M minute(s), and %S second(s) at the moment.')

'It is 22 hour(s), 30 minute(s), and 12 second(s) at the moment.'